zg-gbm-1.0/docs/MyService.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://axis2.ktkj.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax21="http://io.java/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://axis2.ktkj.com">
    <wsdl:documentation>MyService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax22="http://io.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://axis2.ktkj.com">
            <xs:import namespace="http://io.java/xsd"/>
            <xs:element name="MyServiceIOException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="IOException" nillable="true" type="ax22:IOException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ktkjBankFlowSaveCS">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="bankFlow" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="pubKeyAes" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="idCard" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ktkjBankFlowSaveCSResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ktkjBankFlowSave">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="bankFlow" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="pubKeyAes" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="idCard" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ktkjBankFlowSaveResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://io.java/xsd">
            <xs:complexType name="IOException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="ktkjBankFlowSaveCSRequest">
        <wsdl:part name="parameters" element="ns:ktkjBankFlowSaveCS"/>
    </wsdl:message>
    <wsdl:message name="ktkjBankFlowSaveCSResponse">
        <wsdl:part name="parameters" element="ns:ktkjBankFlowSaveCSResponse"/>
    </wsdl:message>
    <wsdl:message name="MyServiceIOException">
        <wsdl:part name="parameters" element="ns:MyServiceIOException"/>
    </wsdl:message>
    <wsdl:message name="ktkjBankFlowSaveRequest">
        <wsdl:part name="parameters" element="ns:ktkjBankFlowSave"/>
    </wsdl:message>
    <wsdl:message name="ktkjBankFlowSaveResponse">
        <wsdl:part name="parameters" element="ns:ktkjBankFlowSaveResponse"/>
    </wsdl:message>
    <wsdl:portType name="MyServicePortType">
        <wsdl:operation name="ktkjBankFlowSaveCS">
            <wsdl:input message="ns:ktkjBankFlowSaveCSRequest" wsaw:Action="urn:ktkjBankFlowSaveCS"/>
            <wsdl:output message="ns:ktkjBankFlowSaveCSResponse" wsaw:Action="urn:ktkjBankFlowSaveCSResponse"/>
            <wsdl:fault message="ns:MyServiceIOException" name="MyServiceIOException" wsaw:Action="urn:ktkjBankFlowSaveCSMyServiceIOException"/>
        </wsdl:operation>
        <wsdl:operation name="ktkjBankFlowSave">
            <wsdl:input message="ns:ktkjBankFlowSaveRequest" wsaw:Action="urn:ktkjBankFlowSave"/>
            <wsdl:output message="ns:ktkjBankFlowSaveResponse" wsaw:Action="urn:ktkjBankFlowSaveResponse"/>
            <wsdl:fault message="ns:MyServiceIOException" name="MyServiceIOException" wsaw:Action="urn:ktkjBankFlowSaveMyServiceIOException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MyServiceSoap11Binding" type="ns:MyServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ktkjBankFlowSaveCS">
            <soap:operation soapAction="urn:ktkjBankFlowSaveCS" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="MyServiceIOException">
                <soap:fault use="literal" name="MyServiceIOException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ktkjBankFlowSave">
            <soap:operation soapAction="urn:ktkjBankFlowSave" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="MyServiceIOException">
                <soap:fault use="literal" name="MyServiceIOException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MyServiceSoap12Binding" type="ns:MyServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ktkjBankFlowSaveCS">
            <soap12:operation soapAction="urn:ktkjBankFlowSaveCS" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="MyServiceIOException">
                <soap12:fault use="literal" name="MyServiceIOException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ktkjBankFlowSave">
            <soap12:operation soapAction="urn:ktkjBankFlowSave" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="MyServiceIOException">
                <soap12:fault use="literal" name="MyServiceIOException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MyServiceHttpBinding" type="ns:MyServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="ktkjBankFlowSaveCS">
            <http:operation location="ktkjBankFlowSaveCS"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
            <wsdl:fault name="MyServiceIOException"/>
        </wsdl:operation>
        <wsdl:operation name="ktkjBankFlowSave">
            <http:operation location="ktkjBankFlowSave"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
            <wsdl:fault name="MyServiceIOException"/>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MyService">
        <wsdl:port name="MyServiceHttpSoap11Endpoint" binding="ns:MyServiceSoap11Binding">
            <soap:address location="http://118.24.88.55:8026/axis2/services/MyService.MyServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="MyServiceHttpSoap12Endpoint" binding="ns:MyServiceSoap12Binding">
            <soap12:address location="http://118.24.88.55:8026/axis2/services/MyService.MyServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="MyServiceHttpEndpoint" binding="ns:MyServiceHttpBinding">
            <http:address location="http://118.24.88.55:8026/axis2/services/MyService.MyServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
